<div class="col mt-4">
  <div class="timeline-body">
    {% for item in site.data.timeline %}
      <div class="timeline-item">
        <div class="content">
          <h2>{{ item.title }}</h2>
          <h6 class="date">{{ item.from }} — {{ item.to }}</h6>
          <p align="justify" style="text-indent:4em">{{ item.description }}</p>
          <p align="justify" style="text-indent:4em">{{ item.description2 }}</p>
          <p align="justify" style="text-indent:4em">{{ item.description3 }}</p>
          <p align="justify" style="text-indent:4em">{{ item.description4 }}</p>
          <p align="justify" style="text-indent:4em">{{ item.description5 }}</p>
          <p align="justify" style="text-indent:4em">{{ item.description6 }}</p>
          <p align="justify" style="text-indent:4em">{{ item.description7 }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>