<div class="col mt-4">
  <div class="timeline-body">
    {% for item in site.data.timeline %}
      <div class="timeline-item">
        <div class="content">
          <h2>{{ item.title }}</h2>
          <h6 class="date">{{ item.from }} — {{ item.to }}</h6>
          <div align="justify" style="text-indent:3em">{{ item.description }}</div>
          <div align="justify" style="text-indent:3em">{{ item.description2 }}</div>
          <div align="justify" style="text-indent:3em">{{ item.description3 }}</div>
          <div align="justify" style="text-indent:3em">{{ item.description4 }}</div>
          <div align="justify" style="text-indent:3em">{{ item.description5 }}</div>
          <div align="justify" style="text-indent:3em">{{ item.description6 }}</div>
          <div align="justify" style="text-indent:3em">{{ item.description7 }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>